<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cullo - Welcome</title>
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/fullcalendar.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.print.css"> -->

</head>
<body style="background: #F17E01;">
	<div id="wrapper">
		<div id="header">
			<div class="title-bar" data-responsive-toggle="example-menu"
				data-hide-for="medium"></div>
                        <div class="large-12" style="text-align: center;">
                            <h4>Text Mining Project</h4>
                        </div>
			<div style="background: #F17E01">
                <div style="text-align: center"><h4>Cullo - A Dialogue System</h4></div>
			</div>
		</div>
		<!-- #header -->
		<div id="content">
			<div class="grid-container">


				<div class=""
					style="margin-top:30px; height: 60vh; overflow: scroll; overflow-x:hidden;" id="cullo-ui-response">

					</div>

				<div class="grid-x grid-padding-x large-4" id="cullo-ui-query">
					<div class="large-10">

						<label style="width:100%"> <textarea placeholder="Hello, you can speak with me!" id="cullo-ui-text"></textarea> </label>

					</div>
					<div class="large-2">
						<a style="width:100%; height:70%;" class="button large" id="cullo-ui-ask">Ask</a>
					</div>
				</div>

				<div class="large reveal" id="news-update-model" data-reveal
					style="word-wrap: break-word;">
					<!-- 						  <h1>Awesome. I Have It.</h1> -->
					<p class="lead" id="news-update-model_title"></p>
					<p id="news-update-model_content"></p>
					<button class="close-button" data-close aria-label="Close modal"
						type="button">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="full reveal" id="page-load-reveal" data-reveal>
					<p>Please wait page load in progress</p>
					<button class="close-button" data-close aria-label="Close reveal"
						type="button" id="page-load-reveal_close_button"
						style="visibility: hidden;">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<p style="visibility: hidden;">
					<button class="button" data-toggle="page-load-reveal"
						id="page-load-reveal_button">&nbsp;</button>
				</p>

			</div>
		</div>
		<!-- #content -->
		<div id="footer">
			<div class="inner-footer">
				<div class="row grid-container" style="color:whitesmoke">
                    <div class="grid-x grid-padding-x large-4">

					<div class="large-6">


                    <div>Done By</div>
                    <div>&nbsp;&nbsp;&nbsp; Nitin Varghese</div>
                    <div>&nbsp;&nbsp;&nbsp;Varun Gidwani</div>
                    <div>&nbsp;&nbsp;&nbsp;Prabaharan Durairaj</div>


					</div>
					<div class="large-6">
                        <div>Guided By</div>
                        <div>&nbsp;&nbsp;&nbsp;Prof. Dr. Siegfried Handschuh</div>
                        <div>&nbsp;&nbsp;&nbsp;Jelena Mitrovic</div>
					</div>

				</div>

				</div>
			</div>
		</div>
		<!-- #footer -->
	</div>
	<!-- #wrapper -->
	<script src="js/jquery.js"></script>
	<script src="js/what-input.js"></script>
	<script src="js/foundation.js"></script>
	<script src="js/app.js"></script>



</body>
</html>